@use '../../styles/partials/Breakpoints' as *;
@use '../../styles/partials/Colours' as *;
@use '../../styles/partials/Mixins' as *;

.add-new {
    @include itemDimensions;
    display: none;
    justify-content: center;
    cursor: pointer;
    background-color: $third-background;
    box-shadow: none;
    z-index: 1;
    animation: slide-in 1s ease forwards;

    &__plus {
        font-family: 'Courier New', Courier, monospace;
        font-size: 10rem;
        align-self: center;
    }
}

.add-new:hover {
    animation: scale-up 1s ease forwards,
        slide-in 1s ease forwards;
}

@keyframes scale-up {
    100% {
        transform: scale(110%);
    }
}

@keyframes slide-in {
    0%{
        transform: translateY(200%);
    }
    100%{
        transform: translateY(0%);
    }
}

@include tablet {
    .add-new{
        display: flex;
    }
}

@use '../../styles/partials/Colours' as *;
@use '../../styles/partials/Breakpoints' as *;


.complete {
    width: fit-content;
    height: 3rem;
    border: solid 4px $second-border;
    border-radius: 1rem;
    cursor: pointer;

    &__icon {

        height: 100%;
        border: solid 1px $second-border;
        opacity: 0;

        &--yes {
            @extend .complete__icon;
        }
    }

    &--yes {
        @extend .complete;
    }
}

.complete:hover .complete__icon {
    animation: show-icon 0.25s ease forwards;
}

.complete:hover {
    animation: show-icon 0.25s ease forwards;
}

@keyframes show-icon {
    100% {
        opacity: 100;
        border: solid 4px $complete-green;
        border-radius: 1rem;
    }
}
@include desktop{
    .complete{
        height: 6rem;
    &__title{
        font-size: 2rem;
    }}
}

@use '../../styles/partials/Breakpoints' as *;

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.figure {
    font-size: 1.75rem;
}

@include desktop {
    .container {
        justify-content: center;
    }
    .title{
        font-size: 2rem;
    }
    .figure{
        font-size: 3rem;
    }
}

@use '../../styles/partials/Colours' as *;
@use '../../styles/partials/Breakpoints' as *;
@use '../../styles/partials/Mixins' as *;
@use '../../styles/partials/Fonts' as *;

.date {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid 1px $third-background;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    box-shadow: 3px 3px 10px $third-background;

    &__info {
        font-family: Disney;
        font-weight: 400;
        font-size: 1.6rem;
        padding: 0 0.25rem;
        &--month {
            background-color: red;
            color: $first-background;
        }

        &--day {
            font-size: 2.4rem;
        }
    }
}

.days-remaining{
    font-size: 3rem;
}

.time {
    display: flex;
    align-items: center;
    border: solid 3px $second-border;
    border-radius: 10%;
    background-color: $third-background;
    box-shadow: 3px 3px 10px $second-border;


    &__info {
        font-family: Digital;
        font-size: 1.5rem;
        color: darkblue;
        background-color: lightblue;
        border: solid 2px $second-border;
        border-radius: 10%;
        padding: 0.25rem;
        margin: 0.25rem;
    }
}

.progress {
    align-self: center;

    &__bar {
        width: 100%;
        height: 1rem;
        border: solid 1px $first-text;
        border-radius: 10%;

        &--percentage {
            height: 100%;
            background-color: $first-text;
        }
    }
}

@use '../../styles/partials/Breakpoints' as *;
@use '../../styles/partials/Colours' as *;
@use '../../styles/partials/Mixins' as *;

.new {
    &__form {
        margin: 1rem;
        @include itemDimensions;
        @include flexDisplayColumnCenter;
        justify-content: flex-start;
        background-color: $third-background;
        animation: fade-in 1s ease;
    }
    &__container{
        display: flex;
        flex-direction: column;
    }
    &__button{
        justify-self: flex-end;
        align-self: flex-end;
        margin: 2rem 0;
        cursor: pointer;
    }

    &__input {
        width: 100%;

        &--description {
            height: 5rem;
        }
    }

    &__buttons {
        margin: 1.5rem 0;
    }
}

.message {
    margin: 1rem 0;
    color: $first-warning;
}

@include tablet {
    .new {
        &__form {
            animation: fade-in 1s ease;
            position: fixed;
            bottom: 0;
            right: 17.4%;
            scale: 110%;
            z-index: 2;
            position: relative;
        }
    }

}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
}

@use '../../styles/partials/Colours' as *;
@use '../../styles/partials/Breakpoints' as *;
@use '../../styles/partials/Mixins' as *;
@use '../../styles/partials/Fonts' as *;

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    border-bottom: solid 1px black;
    padding: 1rem;

    &__header {
        display: flex;
        justify-content: space-between;

    }

    &__title {
        font-size: 1.5rem;
        padding: 0.5rem 0;
    }

    &__details {
        display: flex;
        justify-content: space-between;
    }


    &__information {
        display: flex;
    }

    &__icons {
        display: flex;
        flex-direction: column;
    }

    &__date {
        display: flex;
        justify-content: space-between;
    }
}



.progress {
    width: 100%;
    margin: 1rem 0;
}

@include tablet {
    .information {
        flex-direction: row;
        height: 40%;

        &__text {
            width: 50%;
        }

        &__title {
            font-size: 4rem;
        }

        &__description {
            font-size: 2.25rem;
        }

        &__container {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }
}

@include desktop {
    .information {
        &__title {
            font-size: 4.5rem;
        }

        &__description {
            font-size: 3.2rem;
        }

        &__icons {
            width: 100%;
            justify-content: space-around;
        }

        &__date {
            justify-content: space-around;
        }
    }

    .progress-title {
        font-size: 2rem;
    }
}

@use '../../styles/partials/Breakpoints' as *;
@use '../../styles/partials/Colours' as *;
@use '../../styles/partials/Mixins' as *;

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    &__container {
        margin: 3rem;
    }

    &__item {
        @include itemDimensions;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        border: solid 2px;
        animation: slide-in 1s ease forwards,
    }

    &__title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    &__inside{
        display: flex;
        flex-direction: column;
    }

    &__description {
        font-size: 1.4rem;
    }
    &__date-time{
        display: flex;
        justify-content: space-between;
    }
    &__percentage{
        margin: 1rem 0;
    }
}

.list__item:hover {
    animation: scale-slow 1s ease forwards,
        slide-in 1s ease forwards;
}

.icon {
    height: 5rem;
    width: 7rem;
    margin: 2rem;
    cursor: pointer;
    animation: slide-in 1s ease forwards;
    &--mobile{
        @extend .icon;
    }
    &--tablet {
        @extend .icon;
        display: none;
    }
}

@keyframes scale-slow {
    to {
        scale: 110%;
    }
}

@keyframes slide-in {
    0% {
        transform: translateY(200%);
    }

    100% {
        transform: translateY(0%);
    }
}

@include tablet {
    .list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .icon {
        &--mobile {
            display: none;
        }

        &--tablet {
            display: block;
        }
    }



}

@use '../../styles/partials/Breakpoints' as *;
@use '../../styles/partials/Colours' as *;
@use '../../styles/partials/Mixins' as *;

.home {
    @include flexDisplayColumnCenter;
    margin: 1rem;

    &__container {
        margin: 1rem;
        animation: slide-down 1.25s ease;
    }

    &__title {
        font-size: 2.5rem;
        margin: 1rem;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        animation: slide-up 1.25s ease;
    }

    @keyframes slide-down {
        0% {
            transform: translateY(-500%);
            opacity: 0;
        }
    }

    @keyframes slide-up {
        0% {
            transform: translateY(500%);
            opacity: 0;
        }
    }

}

.sign-in {
    position: fixed;
    top: 0;
    bottom: 10;
    left: 0;
    right: 0;
    margin: 1rem;
    background-color: $first-background;
    animation: slide-down 0.5s ease;
    @include flexDisplayColumnCenter;

    &__pop-up {
        height: 25%;
        position: fixed;
        top: 0;
        bottom: 10;
        left: 0;
        right: 0;
        background-color: $first-background;
        @include flexDisplayColumnCenter;

        &--title {
            font-size: 3rem;
            margin: 2rem;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        width: 375px;
    }

    &__button {
        height: 1.25rem;
        width: 1rem;
        cursor: pointer;
        align-self: flex-end;
    }

    &__button:hover {
        scale: 150%;
    }

    &__header {
        display: flex;
        align-self: center;
    }

    &__title {
        font-size: 2.65rem;
    }

    &__message {
        color: $first-warning;
        padding: 1rem 0;
        align-self: center;
    }

    &__buttons {
        align-self: center;
        margin: 2rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    &__label {
        font-size: 2rem;
        color: $first-text;
    }

    &__password {
        display: flex;
        width: 100%;
    }

    &__input {
        width: 100%;
    }

    &__username {
        width: 100%;
    }

    &__register {
        font-size: 2rem;
    }
}

.button {
    @include button;
}

.button:hover {
    background-color: $third-background;
}

.show-password-button {
    height: 1.8rem;
    width: 1.5rem;
    cursor: pointer;
}

.show-password-button:hover {
    background-color: $third-background;
}

.link {
    margin: 2rem;
}

.link:hover {
    font-size: 1.5rem;
    border: solid 2px $first-text;
    border-radius: 1rem;
    padding: 1rem;
    background-color: $third-background;
}

@include tablet {
    .home {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .sign-in,
    .sign-in__pop-up {
        bottom: 0;
        height: 100%;
    }
}

@use '../../styles/partials/Breakpoints' as *;
@use '../../styles/partials/Colours' as *;
@use '../../styles/partials/Mixins' as *;

.project{
    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0;
    }
}

@use '../../styles/partials/Breakpoints' as *;
@use '../../styles/partials/Colours' as *;
@use '../../styles/partials/Mixins' as *;

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            font-size: 2.5rem;
            margin: 1rem;
        }
    }

    &__title {
        font-size: 2.5rem;
        margin: 2rem;
        animation: slide-down 1.5s ease;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation: slide-up 1.5s ease;
    }

    &__text {
        align-self: center;
        margin: 2.55rem;
    }
}



@include tablet {
    .projects {
        height: 100%;
        flex-direction: row;

        &__header {
            display: none;
        }
    }

}