@use '../../styles/partials/Breakpoints' as *;
@use '../../styles/partials/Colours' as *;
@use '../../styles/partials/Mixins' as *;

.new {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: $first-background;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    top: 0;
    &__form {
        margin: 1rem;
        @include itemDimensions;
        @include flexDisplayColumnCenter;
        justify-content: flex-start;
        background-color: $third-background;
        animation: fade-in 1s ease;
    }
    &__header{
        margin: 0.75rem 0;
    }
    &__label{
        display: flex;
        justify-content: space-between;
    }
    &__container{
        display: flex;
        flex-direction: column;
    }
    &__button{
        justify-self: flex-end;
        align-self: flex-end;
        margin-top: 1rem;
        cursor: pointer;
    }

    &__input {
        width: 100%;

        &--description {
            height: 5rem;
        }
    }

    &__buttons {
        margin: 1.5rem 0;
    }
}

.pop-up{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: $first-background;
    position: fixed;
    z-index: 1;
    top: 0;
    &__message{
        font-size: 1.5rem;
    }
}

@include tablet {
    .new {
        &__form {
            animation: fade-in 1s ease;
            position: fixed;
            top: 5%;
            bottom: 0;
            right: 0;
            z-index: 2;
            position: relative;
        }
    }

}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
}