$first-background: #FFFFFF;
$second-background: #e5e5e5a3;
$third-background: gray;

$first-text: #202020;
$second-text: #FFFFFF;

$first-border: #CCCCCC;
$second-border: #202020;

$first-warning: red;

$complete-green: #AAFF00;