@font-face {
    font-family: 'Anonymous';
    src: url('../../assets/fonts//AnonymousPro-1/Anonymous\ Pro.ttf') format('truetype'),
        url('../../assets/fonts/AnonymousPro-1/Anonymous\ Pro\ B.ttf') format('truetype');
}

@font-face {
    font-family: 'Digital';
    src: url('../../assets/fonts/digital-7/digital-7.ttf') format('truetype'),
        url('../../assets/fonts/digital-7/digital-7\ \(mono\).ttf');

}

@font-face {
    font-family: 'Disney';
    src: url('../../assets/fonts/waltograph/waltograph42.ttf') format('truetype'),
        url('../../assets/fonts/waltograph/waltographUI.ttf') format('truetype')
}

@font-face {
    font-family: 'Owl';
    src: url('../../assets/fonts/the_owl/TheOwl.otf') format('opentype');

}