@use './styles/partials/Fonts' as *;
@use './styles/partials/Colours' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Owl;
  color: $first-text;
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
}

body{
  display: inline;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  background-color: $first-background;
}

input,
textarea {
  font-size: 1rem;
  font-weight: 700;
  padding-left: 0.25rem;
}

h1{
  font-size: 2rem;
}
