@use '../../styles/partials/Breakpoints' as *;
@use '../../styles/partials/Colours' as *;
@use '../../styles/partials/Mixins' as *;

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: auto ;
}

.list__item:hover {
    animation: scale-slow 1s ease forwards,
        slide-in 1s ease forwards;
}

.arrow {
    height: 5rem;
    width: 7rem;
    margin: 2rem;
    cursor: pointer;
    animation: slide-in 1s ease forwards;

    &--mobile {
        @extend .arrow;
    }

    &--tablet {
        @extend .arrow;
    }
}

@include tablet {
    .list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .icon {
        &--mobile {
            display: none;
        }

        &--tablet {
            display: block;
        }
    }
}

@include desktop {
    .list {
        height: 40rem;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}