@use '../../styles/partials/Breakpoints' as *;
@use '../../styles/partials/Colours' as *;
@use '../../styles/partials/Mixins' as *;

.task {
    &__item {
        @include itemDimensions;
        height: fit-content;
        width: auto;
        margin: 1rem;
    }

    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid black;
        padding: 1rem;
    }
}